<?php
/**
 * @var $this Paypal_CreditUk_Block_Shortcut
 */
?>
<?php $bmlShortcutHtmlId = $this->getBmlShortcutHtmlId() ?>
<li class="bml-checkout-type">
    <p class="paypal-logo">
        <span class="bml_button">
            <a id="<?php echo $bmlShortcutHtmlId ?>" href="<?php echo $this->getBmlCheckoutUrl()?>">
                <img width="174px" height="50px" src="<?php echo $this->getBmlImageUrl()?>" alt="<?php echo Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit');?>" title="<?php echo Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit');?>" />
            </a>
        </span>
    </p>
</li>
