<?php

/**
 * PPC Calculator Error Template
 *
 * @version     $Id$
 * @package     Paypal_CreditUk
 * @author      Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 *
 */

?>

<?php $errorMessage = $this->getDataObject(); ?>


<?php $options = $this->getDataObject(); ?>
<div id="ppc-overlay">
	<div id="ppc-body">
		<p class="heading">Estimate your payments</p>
		<img id="ppc-close" alt="" src="/media/wysiwyg/pages/icon-close.png"}}" />
		<div class="copy">
			<?php echo $errorMessage; ?>
		</div>
	</div>
</div>