<div id="ppc-calc">
	<input type="number" name="value" class="input-text" placeholder="Enter your order total" <?php echo $this->getPrice() ? 'value="'.$this->getPrice().'"' : '' ?>/>
	<a href="#" class="button">Calculate</a>
</div>

<script>
	$j('#ppc-calc .button').click(function(e){

		e.preventDefault();

		var $pp = $j('#ppc-calc');
		var inputValue = $j('input[type="number"]', $pp).val()
		if(inputValue != '') {
			$j('.button', $pp).addClass('disabled');
			
			$j.ajax({
				url: '/paypalcredituk/calculator/ajax',
				method: 'POST',
				data: {'value' : inputValue},
				success: function(xhr){
					if($j('#ppc-overlay').length <= 0)
					{
						$j('body').append(xhr);
						$j('#ppc-close').bind('click',function(){
							$j('#ppc-overlay').remove();
						});
					}			
				}
			}).always(function(){
				$j('.button', $pp).removeClass('disabled');
			});
		}
	})
</script>

<style>

	#ppc-close {
		position: absolute;
		top:0;
		right:0;
		z-index:99999999999999999999;
		transform: translate(50%,-50%);
		-ms-transform: translate(50%,-50%);
		-webkit-transform: translate(50%,-50%);
	}
	#ppc-close:hover {
		cursor: pointer;
	}

	#ppc-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0,0,0,0.6);
		z-index: 999999999;
		top:0;
		left:0;
	}
	#ppc-body {
		box-shadow: 0 0 15px rgba(0,0,0,0.6);
		min-width: 320px;
		max-width: 640px;
		width: 50%;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 99999999999;
		background: #fff;
		border: 1px solid #222;
		transform: translate(-50%,-50%); 
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}
	#ppc-body .heading {
		width: 100%;
		padding: 25px;
		margin: 0;
		font-size: 18px;
		font-weight: 400;
		background: #f1f1f1;
		background: -moz-linear-gradient(top,  #f1f1f1 0%, #d1d1d1 100%);
		background: -webkit-linear-gradient(top,  #f1f1f1 0%,#d1d1d1 100%);
		background: linear-gradient(to bottom,  #f1f1f1 0%,#d1d1d1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d1d1d1',GradientType=0 );

	}
	#ppc-body .copy {
		padding: 25px;
	}
	#ppc-body .copy table {
		width: 100%;
		margin: 0;
	}
	#ppc-body .legal {
		padding: 25px 0 0 0;
		font-size: 12px;
	}
	#ppc-body .copy table td,
	#ppc-body .copy table th {
		border-left: none!important;
		border-right: none!important;
		text-align: center;
		padding: 6px 4px;
	}
	#ppc-body .copy table th {
		padding-bottom: 10px;
	}

	#ppc-body .copy h2 {
		margin-top: 0;		
	}
</style>

