<?php

/**
 * PPC Calculator Result Template
 *
 * @version     $Id$
 * @package     Paypal_CreditUk
 * @author      Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 *
 */

?>

<?php $options = $this->getDataObject(); ?>
<div id="ppc-overlay">
	<div id="ppc-body">
		<p class="heading">Estimate your payments</p>
		<img id="ppc-close" alt="" src="/media/wysiwyg/pages/icon-close.png"}}" />
		<div class="copy">

			<table class="table top">
				<thead>
					<tr>
						<th>Monthly Payments</th>
						<th>Months</th>
						<th>Total with Interest</th>
						<th>Interest p.a.</th>
					</tr>
				</thead>
				<tbody>
					<?php

					foreach($options as $key => $option)
					{
						?>
						<tr>
							<td>&pound;<?php echo number_format($option[0],2); ?></td>
							<td><?php echo $key; ?></td>
							<td>&pound;<?php echo number_format($option[1],2); ?></td>
							<td><?php echo $option[2]; ?>%</td>
						</tr>
						<?php
					}
					?>
				</tbody>
			</table>
			
			<?php echo $this->getLegalBlock(); ?>
		</div>
	</div>
</div>