<?php
/**
 * @var $this Paypal_CreditUk_Block_Shortcut
 */
?>
<?php if ($this->getIsBmlEnabled()): ?>
    <?php $bmlShortcutHtmlId = $this->getBmlShortcutHtmlId() ?>
    <li class="bml-checkout-type">
        <p class="paypal-logo">
            <span class="paypal-or"><?php echo $this->__('-OR-'); ?></span>
            <span class="bml_button">
                <a data-action="checkout-form-submit" id="<?php echo $bmlShortcutHtmlId ?>" href="<?php echo $this->getBmlCheckoutUrl() ?>">
                    <img width="174px" height="50px" src="<?php echo $this->getBmlImageUrl() ?>" alt="<?php echo Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit'); ?>" title="<?php echo Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit'); ?>" />
                </a>
            </span>
        </p>
        <input type="hidden" id="paypaluk_checkout_url" name="return_url" value="" />
            <script type="text/javascript">
                //<![CDATA[
                $$('#<?php echo $bmlShortcutHtmlId ?>').invoke('observe', 'click', function(event) {
                    $('paypaluk_checkout_url').value = this.href;
                    productAddToCartForm.submit(this);
                    event.stop();
                });
                //]]>
            </script>
    </li>
<?php endif; ?>
