<?php
/* @var $this Paypal_CreditUk_Block_Review_Details */
?>
<?php if ($this->getData('paypal_is_financing')): ?>

    <div class="box">
        <div class="box-title">
            <h3><?php echo $this->__('PayPal Credit Details') ?></h3>
        </div>
        <div class="box-content" id="credit-loading-icon">
            <img src="/skin/frontend/ufhs/default/images/opc-ajax-loader.gif" alt="Loading" class="hidden"/>
            <table class="table side" id="credit-details">
                <?php if ($this->getData('paypal_financing_term')): ?>
                <tr>
                    <th><?php echo $this->__('Length (In Months)') ?>:</th>
                    <td class="length"><?php echo $this->escapeHtml($this->getData('paypal_financing_term')) ?></td>
                </tr>
                <?php endif; ?>
                <?php if ($this->getData('paypal_financing_monthly_payment')): ?>
                <tr>
                    <th><?php echo $this->__('Monthly Payment') ?>:</th>
                    <td class="monthlyPayments"><?php echo Mage::helper('core')->currency($this->escapeHtml($this->getData('paypal_financing_monthly_payment')), true, false)?></td>
                </tr>
                <?php endif; ?>
                <?php if ($this->getData('paypal_financing_total_cost')): ?>
                <tr>
                    <th><?php echo $this->__('Total Cost') ?>:</th>
                    <td class="totalPayment"><?php echo Mage::helper('core')->currency($this->escapeHtml($this->getData('paypal_financing_total_cost')), true, false) ?></td>
                </tr>
                <?php endif; ?>
            </table>
        </div>
    </div>

    <script>
        document.getElementById('credit-details').addEventListener('price-update',function(){
            var priceHandle = $j("#details-table td:contains('Total'):not('Subtotal')").closest('tr').find('.price').html();
            var price = typeof priceHandle != "undefined" ? priceHandle.match(/[\d,]*?\.\d\d/)[0] : null;
            price = price.replace(",","");
            if(price != null){
                $j.ajax({
                    url: '/paypalcredituk/calculator/ajax/json/1',
                    method: 'POST',
                    data: {'value' : price},
                    success: function(xhr){
                        var creditTable = $j('#credit-details');
                        var jsonReturn = JSON.parse(xhr);
                        var details = jsonReturn[$j('.length',creditTable).html()];
                        $j('.monthlyPayments',creditTable).html(jsonReturn['symbol'] + details[0].toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2}));
                        $j('.totalPayment',creditTable).html(jsonReturn['symbol'] + details[1].toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2}));
                        $j('#credit-details').css('opacity','1');
                        $j('#credit-loading-icon img').addClass('hidden');
                    }
                });
            }
        })

        OrderReviewController.prototype._submitShipping = function(event, url, resultId){
            $j('#credit-details').css('opacity','0.5');
            $j('#credit-loading-icon img').removeClass('hidden');
            if (this.shippingSelect && url && resultId) {
                this._updateOrderSubmit(true);
                if (this._pleaseWait) {
                    this._pleaseWait.show();
                }
                if ('' != this.shippingSelect.value) {
                    new Ajax.Updater(resultId, url, {
                        parameters: {isAjax:true, shipping_method:this.shippingSelect.value},
                        onComplete: function() {
                            if (this._pleaseWait) {
                                this._pleaseWait.hide();
                            }
                            var event = new Event('price-update');
                            document.getElementById('credit-details').dispatchEvent(event);
                        }.bind(this),
                        onSuccess: this._onSubmitShippingSuccess.bind(this),
                        evalScripts: true
                    });
                }
            }
        }
    </script>
<?php endif; ?>
